<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_WsLUu29Lfrxza1LyEDvK5lnfte_UU0s</string>
	<key>GCM_SENDER_ID</key>
	<string>1051159962924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamjournal.interpretation</string>
	<key>PROJECT_ID</key>
	<string>dream-interpretation-1a958</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-interpretation-1a958.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051159962924:ios:28249f0283abd87222f889</string>
</dict>
</plist>